<div class="title-extras">
  <div class="share-button social-media-button">
    <div class="addthis_inline_share_toolbox"></div>
    <div class="icon icon-share"></div>
  </div>
  <div class="share-button print-button">
    <a class="icon-print" href="javascript:window.print()"></a>
  </div>
  <div class="share-button helpful-link">
    <a href="/form/send-us-your-feedback">{{ 'Send Us Your Feedback'|t }}</a>
  </div>
</div>
