<div class="field-revision-date">
  {% trans %} This article was<span data-tooltip aria-haspopup="true" class="has-tip top" data-disable-hover="false" tabindex="2" title="The modified date indicates that one or more changes were made to the article. Such changes may or may not result from a full review of the article, so the two dates may not always agree.">last modified</span>
  on {% endtrans %} {{ date }}.
</div>
