<ul class="accordion accordion-red" data-accordion>
  <li class="accordion-item is-active" data-accordion-item role="none presentation">
    {{ TopTests }}
  </li>
  <li class="accordion-item" data-accordion-item role="none presentation">
    {{ TopConditions }}
  </li>
  <li class="accordion-item" data-accordion-item role="none presentation">
    {{ TopScreenings }}
  </li>
</ul>
