<form class="header-search" action="/search" method="get">
    <input class="form-search search-header-keyword" type="search" name="keywords" placeholder="{{ 'Search'|t }}">
    <button class="button search-header-submit icon-search" type="submit">
        <span class="hidden">{{ 'Search'|t }}</span>
    </button>
</form>
